@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: rgb(207, 84, 62);
  --secondary-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

footer {
  display: flex;
  font-size: 18px;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 14px 40px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

footer a {
  color: inherit;
  text-decoration: none;
  padding: 5px 7px;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
}

footer a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 5px 7px;
  border-radius: 4px;
}

footer a:active {
  transform: scale(0.97);
}

footer i {
  margin-right: 6px;
}

.header-buttons-container {
  display: flex;
  gap: 20px;
}

.header-button {
  display: flex;
  background-color: transparent;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  padding: 10px 18px;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

@media (hover: hover) and (pointer: fine) {
  .header-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
}

.header-button:active {
  opacity: 0.85;
}
.header-button i {
  font-size: 20px;
}

.is-active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* // Bdoy */

.people-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
  justify-items: center;
  gap: 25px;
  padding: 110px 20px 60px 20px;
  background-color: rgb(238, 238, 238);
}

.people-container p {
  line-height: 1.4;
}

.people-container h2 {
  margin-bottom: 3px;
  color: rgb(95, 95, 95);
}

.people-container p {
  color: #636363;
}

.person-container {
  display: flex;
  gap: 30px;
  padding: 15px;
  width: 100%;
  max-width: 500px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.person-container:active {
  transform: scale(0.98);
}

.person-picture {
  border-radius: 999px;
  height: 100px;
}

.person-favorite {
  background-color: var(--primary-color);
  h2 {
    color: var(--secondary-color);
  }

  p {
    color: rgb(221, 206, 206);
  }
}

.person-info i {
  margin-right: 6px;
  color: rgb;
}
/*///////////////////////// MODAL /////////////////////////*/
.favorites-container {
  display: none;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favorites-people-list {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 15px;
  padding: 15px;
  width: 100%;
  max-width: 500px;
  overflow-y: auto;
  background-color: var(--primary-color);
}

.favorite-person-item {
  position: relative;
  display: flex;
  gap: 40px;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 15px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.favorites-people-list header {
  justify-content: center;
  position: relative;
}

.favorites-close-button {
  position: absolute;
  right: 0px;
  bottom: 48px;
  font-size: 26px;
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.favorite-person-picture {
  height: 70px;
  border-radius: 999px;
}

.favorite-right h2 {
  color: rgb(95, 95, 95);
}
.favorite-right p {
  color: rgb(99, 99, 99);
}

.favorite-person-email {
  font-size: 16px;
}

.favorite-person-close {
  font-size: 18px;
  color: var(--primary-color);
  border: none;
  background: none;
  position: absolute;
  right: 10px;
  bottom: 73px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.not-visible {
  display: none;
}

.no-favorites {
  display: flex;
  justify-content: center;
  color: rgb(95, 95, 95, 0.7);
  align-items: center;
  font-size: 16px;
  margin-top: 20px;
}

/* //////////////////////// RESPONSIVE /////////////////////////*/
@media screen and (max-width: 910px) {
  header {
    flex-direction: column;
    gap: 8px;
  }

  h1 {
    font-size: 28px;
  }
  .header-buttons-container {
    gap: 20px;
    padding: 10px;
  }

  .header-button {
    height: 35px;
    padding: 0px 10px;
    font-size: 14px;
  }

  /* // Container */

  .people-container {
    padding: 160px 20px 60px 20px;
  }

  /* // PERSON */

  .fa-xmark {
    font-size: 22px;
  }
  .person-container {
    min-width: 350px;
    gap: 20px;
  }

  .person-info h2 {
    font-size: 20px;
  }

  .person-info p {
    color: rgb(99, 99, 99);
    font-size: 15px;
  }

  .person-picture {
    height: 80px;
  }

  /* // FAVORITES */
  .person-favorite {
    background-color: var(--primary-color);
    h2 {
      color: var(--primary-color);
    }

    p {
      color: rgb(221, 206, 206);
    }
  }

  /* // MODAL FAVORITES */
  .favorites-people-list {
    width: 95vw;
    max-width: 500px;
    min-width: 350px;
  }

  div.favorite-person-item {
    min-width: 330px;
    gap: 10px;
  }

  .favorite-person-item h2 {
    color: rgb(95, 95, 95);
    font-size: 18px;
  }
  .favorite-person-item p {
    color: rgb(99, 99, 99);
    font-size: 13px;
  }
}

@media screen and (max-width: 501px) {
  header .header-button p {
    display: none;
  }

  .person-info p {
    font-size: 12px;
  }
}
